@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hotel-primary: #0080FF;
  --hotel-text: #00264D;
  --hotel-caption: #698096;
  --hotel-gray: #BFCCD9;
  --hotel-light-gray: #E3EBF3;
  --hotel-white: #FFFFFF;
  --hotel-overlay: rgba(18, 57, 82, 0.95);
  --hotel-yellow: #F2BF09;
  --hotel-red: #FF0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-hotel-primary {
  color: var(--hotel-primary);
}

.text-hotel-text {
  color: var(--hotel-text);
}

.text-hotel-caption {
  color: var(--hotel-caption);
}

.text-hotel-gray {
  color: var(--hotel-gray);
}

.text-hotel-light-gray {
  color: var(--hotel-light-gray);
}

.text-hotel-white {
  color: var(--hotel-white);
}

.text-hotel-yellow {
  color: var(--hotel-yellow);
}

.text-hotel-red {
  color: var(--hotel-red);
}

.bg-hotel-text {
  background-color: var(--hotel-text);
}

.bg-hotel-caption {
  background-color: var(--hotel-caption);
}

.bg-hotel-gray {
  background-color: var(--hotel-gray);
}

.bg-hotel-light-gray {
  background-color: var(--hotel-light-gray);
}

.bg-hotel-white {
  background-color: var(--hotel-white);
}

.bg-hotel-yellow {
  background-color: var(--hotel-yellow);
}

.bg-hotel-red {
  background-color: var(--hotel-red);
}